#vmMainPage .addtocart_button, #vmMainPage .addtocart_button_module  {
	border: 0;
	padding:0;
	background: url(../images/style9/btn_add-to-cart.gif) no-repeat scroll left top transparent;
	width:78px;
	height:24px;
	}