#vmMainPage .addtocart_button, #vmMainPage .addtocart_button_module  {
	border: 0;
	padding:0;
	background: url(../images/style7/btn_add-to-cart.png) no-repeat scroll left top transparent;
	width:150px;
	height:39px;
	}