#vmMainPage .addtocart_button, #vmMainPage .addtocart_button_module  {
	border: 0;
	padding:0;
	background: url(../images/style1/btn_add-to-cart.png) no-repeat scroll left top transparent !important;
	width:135px !important;
	height:31px !important;
	}