/* ######### CSS for Shade Tabs. Remove if not using ######### */

.vmTabContent {
	border:0px solid #636466;
	border-top:0 solid transparent;
	width:100%;
	margin-bottom: 1em;
	padding: 0px;
	background:transparent;
	}

.vmTabContentInner {
	padding: 0;
	width:95%;
	margin: 3px auto;
	}
	
.vmTabSub {
	border-bottom:1px solid #BBB;
	border-top:1px solid #BBB;
	width:100%;
	padding: 0px;
	background:#FBFBFB;
	margin: 0 auto 1em; 
	
	}	
	
.vmTabSubInner {
	width:95%;
	padding: 6px;
	margin: 0; 
	}
	
.shadetabs{
padding: 3px 0;
margin-left: 0 !important;
margin-top: 0;
margin-bottom: 0;
font: bold 13px Arial;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
border-bottom:1px solid #BBBBB;
}

ul.shadetabs {
	list-style-image: none;
	padding-left: 0px;
	background: #CFCFCF;
	}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 0;
padding: 3px 7px 4px;
margin-right: 0px;
border: 0px solid transparent;
border-bottom: 0px;
color: #616161;
background: transparent;
font-family: Calibri, Helvetica, Verdana, arial;
font-size: 13px;
text-transform: uppercase;
}

.shadetabs li a:visited{
color: #EEE;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #FFFFFF;
}

.shadetabs li a.selected{ /*selected main tab style */
position: relative;
padding: 2px 7px 3px;
font-size: 13px;
line-height: 1.2em;
border: 0px solid #BBB;
border-bottom:1px solid #FBFBFB;
border-right:1px solid #BBBBBB;
background: #FAFAFA;
color: #515151;
letter-spacing: 0.03em;
font-weight: bold;
font-family: Calibri, Helvetica, Verdana, arial;
text-transform: uppercase;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontentstyle{ /*style of tab content oontainer*/
border: 1px solid gray;
width: 450px;
margin-bottom: 1em;
padding: 10px;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
}